/*
 * Copyright 2013 Xiaxing Shi.
 *
 * This file is part of WebBaseCardGame.
 *
 * WebBaseCardGame is free software: you can redistribute it and/or
 * modify it under the terms of the GNU Lesser General Public License
 * as published by the Free Software Foundation, either version 3 of
 * the License, or (at your option) any later version.
 *
 * WebBaseCardGame is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
 * GNU Lesser General Public License for more details.
 *
 * You should have received a copy of the GNU Lesser General Public
 * License along with WebBaseCardGame.
 * 
 * If not, see <http://www.gnu.org/licenses/>.
 */
 
#login_form, #other_form {
	margin : 0px auto;
	width: 471px;	
	margin-top: 40px;
}

#other_form {
	position : relative;
	top: 80px;
	font-size: 16px;
}

#forms {
	position: relative;
	top: 100px;
	color: white;
	font-weight: 500;
	font-size: 160%;
}

.form_button {
	font-size: 100%;
	color: white;
	padding: 0px 5px;
	background:#075698; /* default background for browsers without gradient support */
	/* css3 */
	background:-webkit-gradient(linear, 0 0, 0 100%, from(#2e88c4), to(#075698));
	background:-moz-linear-gradient(#2e88c4, #075698);
	background:-o-linear-gradient(#2e88c4, #075698);
	background:linear-gradient(#2e88c4, #075698);
	border: none;
	border-radius: 10px;
	
}

#login_form .form_button {
	float: right;
}

#other_form #register_form {
	float:right;
	position: relative;
	right: -78px;
}

