#login_form, #other_form {
	margin : 0px auto;
	width: 471px;	
	margin-top: 40px;
}

#other_form {
	position : relative;
	top: 80px;
	font-size: 16px;
}

#forms {
	position: relative;
	top: 100px;
	color: white;
	font-weight: 500;
	font-size: 160%;
}

.form_button {
	font-size: 100%;
	color: white;
	padding: 0px 5px;
	background:#075698; /* default background for browsers without gradient support */
	/* css3 */
	background:-webkit-gradient(linear, 0 0, 0 100%, from(#2e88c4), to(#075698));
	background:-moz-linear-gradient(#2e88c4, #075698);
	background:-o-linear-gradient(#2e88c4, #075698);
	background:linear-gradient(#2e88c4, #075698);
	border: none;
	border-radius: 10px;
	
}

#login_form .form_button {
	float: right;
}

#other_form #register_form {
	float:right;
	position: relative;
	right: -78px;
}

