body {
	background-color: #3B9B62;
	background: -moz-radial-gradient(circle, #7ad29d, #3B9B62);
	background: -webkit-radial-gradient(circle, #7ad29d, #3B9B62);
	font-size: 16px;
	font-family: menlo, "Courier New", sans-serif;
	min-height: 640px;
	min-width: 1024px;
	overflow: hidden;
}

/*Webkit,Opera9.5+,Ie9+*/
::selection {
	background: rgba(255,255,255,0);
}
/*Mozilla Firefox*/
::-moz-selection {
	background: rgba(255,255,255,0);
}

/* 
 * Play 0 
 */
#player_0 {
	z-index: 0;
	width: 100%;
	height: 180px;
	position: absolute;
	bottom: 3%;
}

#player_0 .cards {
	position: absolute;
}

#say_uno, #pass {
	font-size: 120%;
	position:relative;
	top: 25%;
	left: 3em;
	padding:15px;
	color:#fff;
	background:#075698; /* default background for browsers without gradient support */
	/* css3 */
	background:-webkit-gradient(linear, 0 0, 0 100%, from(#2e88c4), to(#075698));
	background:-moz-linear-gradient(#2e88c4, #075698);
	background:-o-linear-gradient(#2e88c4, #075698);
	background:linear-gradient(#2e88c4, #075698);
	-webkit-border-radius:30px;
	-moz-border-radius:30px;
	border-radius:30px;
	display: block;
	margin-top: 10px;
}

#say_uno:hover, #pass:hover {
	background: #1b9908; /* default background for browsers without gradient support */
	/* css3 */
	background:-webkit-gradient(linear, 0 0, 0 100%, from(#2aac16), to(#1b9908));
	background:-moz-linear-gradient(#2aac16, #1b9908);
	background:-o-linear-gradient(#2aac16, #1b9908);
	background:linear-gradient(#2aac16, #1b9908);
}

/*
 * Card Stack
 */
#card_stack {
	z-index: 199;
	position: absolute;
	top: 25%;
	right: 20%;
}

#card_stack .card {
	margin-right: 0px;
	margin-left: -140px;
}

#card_stack .card:hover {
	top: 0px;
	z-index: auto;
}

#card_stack_button {
	z-index: 800;
	background-color: rgba(0,0,0,0);
}

/*
 * Used Card
 */
#used_card {
	width: 500px;
	z-index: 199;
	position: absolute;
	top: 25%;
	left: 20% 
}

#used_card .card {
	margin-right: -100px;
}

#used_card .card:hover {
	top: 0px;
	z-index: auto;
}

/*
 * Other Player
 */
.other_player {
	position: absolute;
}

.other_player_card .card {
	position: absolute;
	margin: 0px;
}

.other_player_card .card:hover {
	top:0;
	margin: 0px;
}

.other_player .info {
	color: white;
	text-shadow: 0px 0px 5px black;
	position: absolute;
	margin: 0px;
	max-width: 160px;
	white-space: nowrap;
}

.other_player .player_id {
	display: inline-block;
	max-width: 120px;
	overflow: hidden;
	
}

#player_1 {
	top: 45%;
}

#player_1 .card {
	-moz-transform: rotate(90deg);  
    -webkit-transform: rotate(90deg);  
    -o-transform: rotate(90deg);  
    -ms-transform: rotate(90deg);  
    transform: rotate(90deg);
    left: -100px;
}

#player_1 .info {
	left: 10px;
	top: -10px;
}

#player_2 {
	top: 0%;
	left: 0%;
}

#player_2 .card {
	-moz-transform: rotate(135deg);  
    -webkit-transform: rotate(135deg);  
    -o-transform: rotate(135deg);  
    -ms-transform: rotate(135deg);  
    transform: rotate(135deg);
    left: -40px;
    top: -70px;
}

#player_2 .info {
	left: 130px;
	top: 10px;
}

#player_3 {
	top: 0%;
	left: 45%;
}

#player_3 .card {
	-moz-transform: rotate(180deg);  
    -webkit-transform: rotate(180deg);  
    -o-transform: rotate(180deg);  
    -ms-transform: rotate(180deg);  
    transform: rotate(180deg);
    top: -120px;
}

#player_3 .info {
	top: 50px;
}

#player_4 {
	top: 0%;
	right: 0%;
}

#player_4 .card {
	-moz-transform: rotate(225deg);  
    -webkit-transform: rotate(225deg);  
    -o-transform: rotate(225deg);  
    -ms-transform: rotate(225deg);  
    transform: rotate(225deg);
    right: -40px;
    top: -70px;
}

#player_4 .info {
	right: 130px;
	top: 10px;
}

#player_5 {
	top: 45%;
	right: 0%;
}

#player_5 .card {
	-moz-transform: rotate(270deg);  
    -webkit-transform: rotate(270deg);  
    -o-transform: rotate(270deg);  
    -ms-transform: rotate(270deg);  
    transform: rotate(270deg);
    right: -100px;
}

#player_5 .info {
	right: 10px;
	top: -10px;
}

/*
 * Say "Uno"
 */
#uno {
	z-index: 399;
	width: 400px;
	text-align: center;
	position: absolute;
	top: 25%;
	display: none;
}

#uno_player {
	position: relative;
	font-size: 200%;
	color: white;
	text-shadow: 0px 0px 10px black;
	top: 20px;
	left: -4em;
}

.triangle-right {
	box-shadow: 0px 0px 20px black;
	margin: 0px;
	font-size: 500%;
	position:relative;
	padding:15px;
	color:#fff;
	background:#075698; /* default background for browsers without gradient support */
	/* css3 */
	background:-webkit-gradient(linear, 0 0, 0 100%, from(#2e88c4), to(#075698));
	background:-moz-linear-gradient(#2e88c4, #075698);
	background:-o-linear-gradient(#2e88c4, #075698);
	background:linear-gradient(#2e88c4, #075698);
	-webkit-border-radius:30px;
	-moz-border-radius:30px;
	border-radius:30px;
}

/* Variant : for top positioned triangle
------------------------------------------ */

.triangle-right.top {
	background:-webkit-gradient(linear, 0 0, 0 100%, from(#075698), to(#2e88c4));
	background:-moz-linear-gradient(#075698, #2e88c4);
	background:-o-linear-gradient(#075698, #2e88c4);
	background:linear-gradient(#075698, #2e88c4);
}

/* Variant : for left positioned triangle
------------------------------------------ */

.triangle-right.left {
	margin-left:40px;
	background:#075698;
}

/* Variant : for right positioned triangle
------------------------------------------ */

.triangle-right.right {
	margin-right:40px;
	background:#075698;
}

/* THE TRIANGLE
------------------------------------------------------------------------------------------------------------------------------- */

.triangle-right:after {
	content:"";
	position:absolute;
	bottom:-20px; /* value = - border-top-width - border-bottom-width */
	left:50px; /* controls horizontal position */
	border-width:20px 0 0 20px; /* vary these values to change the angle of the vertex */
	border-style:solid;
	border-color:#075698 transparent; 
    /* reduce the damage in FF3.0 */
    display:block; 
    width:0;
}

#exit {
	width: 20px;
	height: 20px;
	border: 2px solid white;
	position: fixed;
	left: 5px;
	bottom: 5px;
	text-align: center;
	color: white;
	background-color: rgba(0,0,0,0.7);
	border-radius: 20px;
}

.circle{
	width: 45px;
	height: 45px;
	border-radius: 45px;
	cursor: pointer;
}
.circle:hover{
      box-shadow: 0px 0px 20px white;
}
#color_panel{
	z-index: 399;
	width: 500px;
	text-align: center;
	position: absolute;
	top: 25%;
	background: rgba(0,0, 0, 0.6);
	border-radius: 20px;
	box-shadow: 0px 0px 20px white;
	padding:30px;
	margin: 0px;
	display: none;
}
#color_panel .inf{
	color: white;
	text-shadow: 1px 1px 5px black;
}

#color_choose .circle{
  float: left;
  margin-right: 30px;
}

#color_choose {
  width: 300px;
  position: relative;
  margin: 0px auto;
  padding-left: 30px;
}
.inf2{
	text-align: center;
	color: #FF8C00;
	font-size: 250%;
	font-weight: bold;
	text-shadow: 0px 0px 4px darkorange;
	margin: auto;
	float: none;
	position: relative;
}
#warning{
	z-index: 399;
	width: 500px;
	height:230px;
	text-align: center;
	position: absolute;
	top: 25%;
	background: rgba(0,0, 0, 0.6);
	border-radius: 20px;
	box-shadow: 0px 0px 70px darkorange;
	padding:15px;
	margin: 0px;
	border:solid 2px darkorange;
	display: none;
}
/*#warning_container {
	width: 500px;
	position: relative;
	margin: 0px auto;
}*/
.warning_icon{
	background-color: #FF8C00;
	width: 85px;
	height: 85px;
	border-radius: 85px;
	box-shadow: 0px 0px 50px darkorange;
	margin: 0px auto;
	position: relative;
	top: 30px;
}
#exclamatory{
	  color: rgba(0,0, 0, 0.6);
	  text-align: center;
	  font-size: 500%;
	  font-weight: bold;
	  margin: auto;
	  float: none;
	  position: relative;
}
